/*import from first page*/
body{
	margin:0;
	padding:0;
	overflow:auto;
	font-size: 12px;
	width:100%;
	height:100%;
	top:0px;
	position:absolute;
	background-color:#ffe;
}
/*import from first page*/
#firstpageDiv{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.tosecondpage{
	font-size: 24px;
	color:#000000;
	font-family:"Verdana";
	text-decoration: none;
	width: 30%;
	height: 10px;
	position: absolute;
	bottom: 10%;
	right: 35%;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
#loveHeart{
	float:left;
	width:670px;
	height:625px
}
#garden{
	width:100%;
	height:100%
}
#elapseClock{
	text-align:right;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px
}
#words{
	font-family:"Verdana";
	width:505px;
	font-size:24px;
	color:#666
}
#messages{
	display:none;
}
#elapseClock .digit{
	font-family:"digit";
	font-size:36px;
}
#loveu{
	padding:5px;
	font-size:22px;
	margin-top:60px;
	margin-right:100px;
	text-align:right;
	display:none;
}
#loveu .signature{
	margin-top:10px;
	font-size:20px;
	font-style:italic;
}
#errorMsg{
	width:100%;
	text-align:center;
	font-size:24px;
	position:absolute;
	top:100px;
	left:0
}

/*import from second page*/
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tothirdpage{
	font-size: 24px;
	color:#FFFFFF;
	font-family:"Verdana";
	text-decoration: none;
	width: 30%;
	height: 10%;
	position: absolute;	
	top: 85%;
	right: 35%;
	cursor: pointer;
	text-align: center;
}

.secondpageDiv{
	width:100%;
	text-align: center;
	overflow: hidden;
}
.time-line{
	background: #5aa8c5;
	position:relative;
	width:100%;
	}

/*import from the third page*/
*, 
*:after,
*:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#thirdpageDiv{
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}
